*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height:100vh;
    background: #FFFFFF;
    padding: 10px;
}

.box1{
    width: 450px;
    height: 550px;
    background: #000000;
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 25px;
}


.box2{
    display: block;
    width: 471px;
    height: 42px;
    flex-shrink: 0;
    color: #FFFFFF;
    font-family: DM Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
    margin: 15px 0px 15px 20px;

    /*
    width: 300px;
    height: 9px;
    background: #FFFFFF;
    margin: 3px auto 20px;
    padding: 25px;
    border-radius: 25px;
    */

}

.box3{
    display: block;
    width: 471px;
    height: 42px;
    flex-shrink: 0;
    color: #FFFFFF;
    font-family: DM Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px;
    margin: 15px 0px 15px 20px;

    /*
    text-align: center;
    width: 300px;
    height: 10px;
    background: #FFFFFF;
    margin: 3px auto 20px;
    padding: 25px;
    border-radius: 25px;
    */
}


.btn{
    position: fixed;
    padding: 10px 40px;
    background: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-family: 'DM mono';
    font-weight: bold;
    border-radius: 20px;
    top: 500px;
    left: 675px;
    

}



.box5{
    background:#D88C9A;
    width: 100px;
    height: 100px;
    top: 10;
    
}

.box6{
    background:#F2D0A9;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 400px;
    
}

.box7{
    background:#99C1B9;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 100px;
    
}

.box8{
    background:#F1E3D3;
    width: 100px;
    height: 100px;
    
}

.box9{
    background:#8E7DBE;
    width: 100px;
    height: 100px;
    
}

.box10{
    background:#F3F3F3;
    width: 100px;
    height: 100px;
    
}
