body{
    padding: 0;
    margin: 0;
}

.background{
    background-color: #F9F2EB;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items: center;
}

.grid{
    height: 100vh;
    width: 100vw;
    background-color: #00000000;
    background-image: radial-gradient(#494949 1px, transparent 0);
    background-size: 25px 25px;
    background-repeat: repeat;
}

.boxcontainer{
    height: 100vh;
    width: 100vw;
}

.rectangle{
    background-color: #D88C9A;
    height: 400px;
    width: 300px;
}

.topbar{
    overflow: hidden;
    background-color: #98C1FF;
    position: fixed; 
    top: 0px; 
    width: 100%; 
    height: 100px;
    border: 3px solid #30323D ;
}

.topbar h1{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono';
    position: relative;
    top:50%;
    color: #30323D;
    transform: translateY(-50%);
    text-align: left;
    left: 30px;
    font-size: 60px;
    font-weight:bold;
    letter-spacing: 4px;
}

.subbar{
    overflow: hidden;
    background-color: #D4E5FF;
    position: fixed; 
    top: 100px; 
    width: 100%; 
    height: 60px;
    border: 3px solid #30323D ;
}

.subbar h2{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono';
    font-size: 20px;
    position: relative;
    top:50%;
    color: #30323D;
    transform: translateY(-50%);
    text-align: left;
    left: 30px;
    letter-spacing: 4px;
}

.btn{
    position: fixed;
    padding: 5px 35px;
    background:#F9F2EB;
    cursor: pointer;
    font-size: 18px;
    font-family: 'DM mono';
    font-weight:bold;
    border-radius: 20px;
    border: 3px solid #30323D ;
    top: 115px;
    right:20px;
    
}    

.popup{
    position: fixed;
    width: 500px;
    height: 530px;
    border-radius: 10px;
    border: 3px solid #494949;
    background: #F9F2EB;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.50);
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: none;

}

.taskName{
    position: relative;
    width: 400px;

}

.taskName input{
    padding: 8px;
    border: 3px solid #494949;
    border-radius: 50px;
    box-sizing: border-box;
    width: 100%;
    background: #F3F3F3;
    font-size: 15px;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);    
    font-family: 'DM mono';
    margin-top: 50px;
    margin-left: 50px;
}

.Deadline{
    position: relative;
    width: 400px;
}

.Deadline input{
    padding: 8px;
    border: 3px solid #494949;
    border-radius: 50px;
    box-sizing: border-box;
    width: 100%;
    background: #F3F3F3;
    font-size: 15px;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);    
    font-family: 'DM mono';
    margin-top: 15px;
    margin-left: 50px;
}

.open-popup{
    display:block;
}
